/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Left Section Styling */
.left-section {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f6f9;
    padding: 20px;
}

.left-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Right Section Styling */
.right-section {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
}

.right-section h2 {
    font-size: 1.5em;
    color: #273BE2;
    border-bottom:2px solid #273BE2 ;
    margin-bottom: 20px;
}

/* Feedback Cards */
.feedback-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feedback-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.feedback-card p {
    margin: 8px 0;
    font-size: 0.9em;
    color: #333;
}

.feedback-card p strong {
    color: #273BE2;
}



/* Scrollbar Hide */
.right-section {
    scrollbar-width: none; /* Firefox */
}

.right-section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}



.dashboard-link {
    display: inline-block;
    color: #273BE2;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #273BE2;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s;
    margin-top: 15px;
    
}

.dashboard-link:hover {
    background-color: #273BE2;
    color: #ffffff;
}