/* Reset and Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9; /* Light background color */
    color: #333;
}

/* Container */
.container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

/* Left Side Styling */
.left-side {
    flex: 1;
    background-color: #273BE2; /* Dark blue background */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-side h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.left-side p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.welcome-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Right Side Styling */
.right-side {
    flex: 1;
    background-image: linear-gradient(315deg, rgba(39, 59, 226, 0.48) 11%, #fff 79%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #273BE2; /* Dark blue for heading */
}

.right-side form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Restrict max width for better appearance */
}

.right-side label {
    margin-bottom: 5px;
    font-weight: bold;
}


.right-side select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus {
    border-color: #273BE2; /* Change border color on focus */
    outline: none;
}

button {
    padding: 10px;
    background-color: #273BE2; /* Dark blue button */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #1a1a1a; /* Darker on hover */
}

/* Link Styling */
.right-side p {
    margin-top: 20px;
}

.right-side a {
    color: #273BE2;
    text-decoration: none;
    font-weight: bold;
}

.right-side a:hover {
    text-decoration: underline;
}
